<% wrap_layout :layout do %>
  <article class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="row">
      <h1 class="col-xs-12 text-center">
        <%= current_page.title %>
      </h1>
      <time class="col-xs-12 text-center"><%= current_page.date.strftime('%A %B %e, %Y') %></time>
      <p class="eta col-xs-12 text-center"></p>
    </div>

    <%= yield %>

    <p class="col-xs-12 text-center closing-tag-list" aria-label="Tags">
      <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
      <% current_page.tags.each do |tag| %>
        <%= tag_link(current_page, tag) %>
      <% end %>
    </p>
  </article>

  <nav class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-article-pager">
    <ul class="pager">
      <% if current_page.next_article %>
        <li class="previous <%= pager_disabled(current_page.next_article) %>"><%= link_to current_page.next_article.title, current_page.next_article%> </li>
      <% end %>

      <% if current_page.previous_article %>
        <li class="next <%= pager_disabled(current_page.previous_article) %>"><%= link_to current_page.previous_article.title, current_page.previous_article %> </li>
      <% end %>
    </ul>
  </nav>
<% end %>    

