<div class="col-xs-12 footer-links">
  <ul class="col-md-10 col-md-offset-1">
    <li class="col-xs-4 col-sm-2 col-sm-offset-1"><%= link_to 'blog', '/index.html', :class => 'active' %></li>
    <li class="col-xs-4 col-sm-2"><%= link_to 'about', '/about.html' %></li>
    <li class="col-xs-4 col-sm-2"><%= link_to 'projects', '/projects.html' %></li>
    <li class="col-xs-4 col-xs-offset-2 col-sm-2 col-sm-offset-0"><%= link_to 'contact', '/contact.html' %></li>
    <li class="col-xs-4 col-sm-2"><%= link_to 'resume', 'rhcvweb.pdf' %></li>
  </ul>
</div>

<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 footer-message">
  <p>
    Thanks for visiting! Please write me an email when you get a chance. <%=
mail_to 'ryan@ryanhedges.com', 'Ryan@ryanhedges.com' %>
  </p>
</div>

