<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
    data-target="#navbar-collapse-links">
      <span class="sr-only">Toggle navigation</span>
      <span >menu</span>
    </button>
    <%= link_to 'Ryan Hedges', '/index.html', :class => 'navbar-brand
brand-style' %>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-links">
    <ul class="nav nav-justified">
      <li ><%= nav_link 'blog', '/' %></li>
      <li ><%= nav_link 'about', '/about/' %></li>
      <li ><%= nav_link 'projects', '/projects/' %></li>
      <li ><%= nav_link 'contact', '/contact/' %></li>
    </ul>
  </div>
</nav>

