




<div class='project-container'>
  <div class='project-box'>
    <a href="<%= project_link %>">
        <div class='box-content'>
          <img src="<%= image %>">
        </div>
    </a>
  </div>
  <div class='content-description'>
    <p><%= description %></p>
    <div class='github-link'>
      <p><a href="<%= github_link.link %>"><%= github_link.text %></a></p>
    </div>
  </div>
</div>