<div class='project-container'>
  <div class='project-box'>
    <a href="<%= project_link %>">
        <div class='box-content' <%= image.css if image.css != nil %>>
          <%= image_tag "#{image.name}" %>
        </div>
    </a>
  </div>
  <div class='content-description'>
    <p><%= description %></p>
    <% unless github_link.link.nil? %>
      <div class='github-link'>
        <p><a href="<%= github_link.link %>"><%= github_link.text %></a></p>
      </div>
    <% end %>
  </div>
</div>